:root{
    --background-color:#ecf2f8;
    --card-background: #ffffff;
    --font-heading: #48556a;
    --font-paragrah:#6d7f97;
    --share-background:#48556a;

    --card-width:20rem;
    --card-width-desktop:42.5rem;

    --padding:2rem;
    --extra-small-padding:0.5rem;
    --small-padding:1rem;
    --medium-padding:1.5rem;
    --margin-large:1.75rem;
    --margin-small:1.0rem;

    --fs-heading:1rem;
    --fs-heading-large:1.25rem;
    --fs-paragraph:0.8125rem;
    --letter-spacing:0.25rem;

    --fw-heading:700;
    --fw-paragraph:500;

    --main-img-height:11rem;
    --img-dimensions:2.5rem;
    --buttom-dimensions:2rem;
    --icons-dimensions:1.35rem;
    --round-rad:1.5rem;
    --small-round-rad:0.5rem;

    --flex-gap:1rem;

}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-color: var(--background-color);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--card-background);
    max-width:var(--card-width);
    display:flex;
    flex-direction: column;
    border: solid 1px var(--card-background);
    border-radius: var(--small-round-rad);
}

.image{
    max-width: 100%;
    width:100%;
    height:var(--main-img-height);
    object-fit: cover;
    border-top-right-radius: var(--small-round-rad);
    border-top-left-radius: var(--small-round-rad);
}

.info,.profile{
    padding: 0 var(--padding);
    font-family: "Manrope", sans-serif;
    margin-block-end: var(--margin-large);
}

.profile{
    margin: var(--medium-padding) 0;
    margin-block-end: 0;
    padding-block-end: var(--small-padding);
    padding-block-start: var(--small-padding);
    margin-block-start: var(--margin-small);
}

.article-heading{
    font-size: var(--fs-heading);
    margin: var(--margin-large) 0;
    color:var(--font-heading);
    font-weight: var(--fw-heading);
}

.article-description{
    font-size: var(--fs-paragraph);
    color:var(--font-paragrah);
    font-weight: var(--fw-paragraph);
}

.profile{
    display:flex;
    flex-direction: row;
    gap:var(--flex-gap);
    border-radius: var(--round-rad);
}

.profile-image{
    width:var(--img-dimensions);
    height:var(--img-dimensions);
    border-radius: var(--round-rad);
}


.button{
    border:none;
    background-color: transparent;
    margin-inline-start: auto;
    width: var(--buttom-dimensions);
    height:var(--buttom-dimensions);
}

.profile-button{
    background-color: var(--background-color);
    padding: var(--extra-small-padding);
    border-radius: var(--round-rad);
}

.profile-name{
    font-weight: var(--fw-heading);
    color: var(--font-heading);
    font-size: var(--fs-paragraph);
}

.date-posted{
    font-size: var(--fs-paragraph);
    color:var(--font-paragrah);
}

.bottom-panel{
    position: relative;
}

.share-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:var(--flex-gap);
    padding: var(--medium-padding) var(--small-padding);
    background-color: var(--share-background);
    border-bottom-right-radius: var(--small-round-rad);
    border-bottom-left-radius: var(--small-round-rad);
    position: absolute;
    bottom:0.21rem;
}

.dark{
    background-color: var(--font-heading);
    border-radius: 0;
    border-bottom-right-radius: var(--small-round-rad);
}

.share-msg{
    text-transform: uppercase;
    color: var(--font-paragrah);
    font-weight: var(--fw-paragraph); 
    font-family: "Manrope", sans-serif;
    font-size: var(--fs-paragraph);
    letter-spacing: var(--letter-spacing);
}

.icons{
    width:var(--icons-dimensions);
    height:var(--icons-dimensions);
}

.share-click{
    background-color: var(--font-paragrah);
}

path.dark-share{
    fill:#ffffff;
}

.share{
    fill:#6E8098;
}

.hidden{
    display: none;
}

@media screen and (min-width:899px){
        .card{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1.5fr;
            max-width: var(--card-width-desktop);
        }

    .profile{
        margin-block-start: 0;
        padding-block-start: 0;
        padding-block-end: var(--medium-padding);
    }

    .image{
        grid-area: 1/2/2/1;
    }

    .details{
        grid-area: 1/3/2/2;
    }

    .image{
        width: 100%;
        height: 100%;
        object-position: 0 0;
    }

    .article-heading{
        font-size: var(--fs-heading-large);
        margin-block-end: var(--margin-small);
    }

    .bottom-panel{
        position: relative;
    }

    .share-panel{
        width:13rem;
        height:3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:var(--flex-gap);
        padding: var(--medium-padding) var(--small-padding);
        margin:var(--medium-padding) 0;
        background-color: var(--share-background);
        border-radius: var(--small-round-rad);
        position: absolute;
        left:63%;
        bottom:110%;
    }

    .share-panel::after{
        position:absolute;
        content: "";
        height:1.5rem;
        width:1.5rem;
        background-color: var(--font-heading);
        rotate: 45deg;
        right:45%;
        top:70%;
        z-index:1;
    }

    .icons{
        z-index: 2;
    }

    .dark{
        background-color: var(--card-background);
    }

    .hidden{
        display: None;
    }
}